openapi: 3.1.0
info:
  title: Fast to Seller API
  version: v1
  license:
    name: Fast Developer Terms
    url: https://www.fast.co/terms/developer-terms
  contact:
    name: Fast
    url: https://fast.co
    email: api@fast.co
  description: |-
    # Authentication

    <!-- ReDoc-Inject: <security-definitions> -->
tags:
  - name: Fast to Seller API
    description: Fast will communicate with your server application on these endpoints.
paths:
  /fast/v1/create:
    post:
      summary: Create a specified type of an object/entity
      description: Generic create interface
      operationId: MerchantService_Create
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1CreateResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1CreateRequest"
        required: true
      tags:
        - MerchantService
  /fast/v1/delete:
    post:
      summary: Delete the specified object/entity
      description: Generic delete interface
      operationId: MerchantService_Delete
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1DeleteResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1DeleteRequest"
        required: true
      tags:
        - MerchantService
  /fast/v1/read:
    post:
      summary: Read a specified type of an object/entity by provided id
      description: >-
        This is a generic interface to read a specific type of an entity (e.g. order, cart, etc.).
      operationId: MerchantService_Read
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ReadResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1ReadRequest"
        required: true
      tags:
        - MerchantService
  /fast/v1/update:
    post:
      summary: Update identified object/entity
      description: Generic update interface
      operationId: MerchantService_Update
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1UpdateResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1UpdateRequest"
        required: true
      tags:
        - MerchantService
servers:
  - url: https://api.fast.co
    description: Production server (for live site)
  - url: https://api.sandbox.fast.co
    description: Sandbox server (for testing)
components:
  requestBodies:
    CreateRequest:
      description: A create request.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/v1CreateRequest"
    ReadRequest:
      description: A read request.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/v1ReadRequest"
    UpdateRequest:
      description: An update request.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/v1UpdateRequest"
    DeleteRequest:
      description: A delete request.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/v1DeleteRequest"
  responses:
    CreateResponse:
      description: A successful response.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/v1CreateResponse"
    ReadResponse:
      description: A successful response.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/v1ReadResponse"
    UpdateResponse:
      description: A successful response.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/v1UpdateResponse"
    DeleteResponse:
      description: A successful response.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/v1DeleteResponse"
    DefaultResponse:
      description: An unexpected error response.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/rpcStatus"
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: FASTSESSION
      in: header
  schemas:
    protobufAny:
      type: object
      properties:
        type_url:
          type: string
        value:
          type: string
          format: byte
    rpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            $ref: "#/components/schemas/protobufAny"
    v1AddressUpdate:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/v1UUID"
        first_name:
          type: string
        last_name:
          type: string
        middle_name:
          type: string
        company:
          type: string
        email:
          type: string
        phone:
          type: string
        address_1:
          type: string
        address_2:
          type: string
        city_locality:
          type: string
        state_province:
          type: string
        state_province_code:
          type: string
        country:
          type: string
        country_code:
          type: string
        postal_code:
          type: string
    v1CartToOrderConvert:
      type: string
      enum:
        - CART_TO_ORDER_CONVERT_ONLY
        - CART_TO_ORDER_CONVERT_UPDATE_AND_CONVERT
    v1CouponUpdate:
      type: object
      properties:
        code:
          type: string
          description: Coupon code (e.g. "10OFF").
        remove:
          type: boolean
    v1CreateRequest:
      type: object
      properties:
        type:
          $ref: "#/components/schemas/v1EntityType"
          description: The type of entity being created.
        app_id:
          type: string
          description: The application ID for your store registered with Fast.
        order:
          $ref: "#/components/schemas/v1CreateRequestSegment"
          description: Object containing the order information.
        request_id:
          $ref: "#/components/schemas/v1UUID"
    v1CreateRequestSegment:
      type: object
      properties:
        is_cart:
          type: boolean
        order:
          $ref: "#/components/schemas/v1FastOrder"
          description: >-
            The idempotency key of request. Ensure that your operations are
            idempotent against this field
    v1CreateResponse:
      type: object
      properties:
        type:
          $ref: "#/components/schemas/v1EntityType"
          description: The type of entity being created.
        order:
          $ref: "#/components/schemas/v1CreateResponseSegment"
          description: Fast order data entity.
        request_id:
          $ref: "#/components/schemas/v1UUID"
          description: The idempotency key of request.
          user:
            $ref: "#/components/schemas/v1CreateUserResponseSegment"

    v1CreateResponseSegment:
      type: object
      properties:
        order:
          $ref: "#/components/schemas/v1FastOrder"

    v1DeleteOrderRequestSegment:
      type: object
      properties:
        is_cart:
          type: boolean
        order_id:
          $ref: "#/components/schemas/v1UUID"
        external_order_id:
          type: string
          description: >-
            External Order ID of order/cart to be deleted. This is only passed
            when deleting a cart checkout for an external cart with no associated Fast ID.
      title: Delete Section
    v1DeleteOrderResponseSegment:
      type: object
    v1DeleteRequest:
      type: object
      properties:
        app_id:
          type: string
          description: The application ID for your store registered with Fast.
        request_id:
          $ref: "#/components/schemas/v1UUID"
        type:
          $ref: "#/components/schemas/v1EntityType"
        order:
          $ref: "#/components/schemas/v1DeleteOrderRequestSegment"
    v1DeleteResponse:
      type: object
      properties:
        request_id:
          $ref: "#/components/schemas/v1UUID"
        type:
          $ref: "#/components/schemas/v1EntityType"
        order:
          $ref: "#/components/schemas/v1DeleteOrderResponseSegment"
    v1DiscountOrigin:
      type: string
      enum:
        - DISCOUNT_ORIGIN_USER
        - DISCOUNT_ORIGIN_FAST
        - DISCOUNT_ORIGIN_VENDOR
      title: Discounts can be originated from many sources
    v1DiscountType:
      type: string
      enum:
        - DISCOUNT_TYPE_MISC
        - DISCOUNT_TYPE_REGULAR
        - DISCOUNT_TYPE_SHIPPING
        - DISCOUNT_TYPE_HANDLING
        - DISCOUNT_TYPE_WRAPPING
    v1EntityType:
      type: string
      enum:
        - ENTITY_TYPE_UNSPECIFIED
        - ENTITY_TYPE_ORDER
        - ENTITY_TYPE_SHIPPING_OPTION
        - ENTITY_TYPE_USER
        - ENTITY_TYPE_SHIPPING_ZONES
      default: ENTITY_TYPE_UNSPECIFIED
    v1FastIntegrationUser:
      type: object
      properties:
        external_user_id:
          type: string
        email:
          type: string
        name:
          type: string
    v1FastOrder:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/v1UUID"
        external_id:
          type: string
        user_id:
          type: string
        order_type:
          $ref: "#/components/schemas/v1OrderType"
        currency_code:
          type: string
        status:
          $ref: "#/components/schemas/v1OrderStatus"
        bill_to:
          $ref: "#/components/schemas/v1OrderAddress"
        lines:
          type: array
          items:
            $ref: "#/components/schemas/v1OrderLine"
        shipment_plans:
          type: array
          items:
            $ref: "#/components/schemas/v1OrderShipmentPlan"
        coupons:
          type: array
          items:
            $ref: "#/components/schemas/v1OrderDiscount"
        total_amount:
          type: string
        sub_total:
          type: string
        total_discounts:
          type: string
        total_tax:
          type: string
        total_shipping:
          type: string
        refunds:
          type: array
          items:
            $ref: "#/components/schemas/v1OrderRefund"
        custom_values:
          type: array
          items:
            $ref: "#/components/schemas/v1OrderCustomValue"
        user_note:
          type: string
        store_note:
          type: string
        fast_note:
          type: string
    v1ItemFulfillmentModel:
      type: string
      enum:
        - ITEM_FULFILLMENT_MODEL_PHYSICAL
        - ITEM_FULFILLMENT_MODEL_DIGITAL
        - ITEM_FULFILLMENT_MODEL_SERVICE
    v1OrderAddress:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/v1UUID"
        first_name:
          type: string
        last_name:
          type: string
        middle_name:
          type: string
        company:
          type: string
        email:
          type: string
        phone:
          type: string
        address_1:
          type: string
        address_2:
          type: string
        city_locality:
          type: string
        state_province:
          type: string
        state_province_code:
          type: string
        country:
          type: string
        country_code:
          type: string
        postal_code:
          type: string
    v1OrderCustomValue:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    v1OrderDiscount:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
        origin:
          $ref: "#/components/schemas/v1DiscountOrigin"
        type:
          $ref: "#/components/schemas/v1DiscountType"
        applied:
          type: boolean
        total_amount:
          type: string
    v1OrderItemUpdate:
      type: object
      properties:
        item_id:
          $ref: "#/components/schemas/v1UUID"
        quantity:
          type: integer
          format: int64
          description: New total quantity of the item.
        external_product_id:
          type: string
          description: External product identifier for the item.
        external_variant_id:
          type: string
          description: External variant identifier for the item.
        external_options:
          type: array
          items:
            $ref: "#/components/schemas/v1OrderCustomValue"
            description: >-
              List of optional key - value pairs that signify additional options
              not covered by variants.
        customizations:
          type: array
          items:
            $ref: "#/components/schemas/v1OrderCustomValue"
          description: >-
            List of optional key - value pairs that signify additional
            customizations not covered by variants + options.
    v1OrderLine:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/v1UUID"
        external_id:
          type: string
        external_product_id:
          type: string
        external_variant_id:
          type: string
        external_options:
          type: array
          items:
            $ref: "#/components/schemas/v1OrderCustomValue"
        customizations:
          type: array
          items:
            $ref: "#/components/schemas/v1OrderCustomValue"
        quantity:
          type: integer
          format: int64
        quantity_fulfilled:
          type: integer
          format: int64
        unit_price:
          type: string
        discounted_unit_price:
          type: string
        line_discount_amount:
          type: string
        subtotal_amount:
          type: string
        tax_amount:
          type: string
        total_amount:
          type: string
        discounts:
          type: array
          items:
            $ref: "#/components/schemas/v1OrderDiscount"
        name:
          type: string
        description:
          type: string
        image_url:
          type: string
        fulfillment_mode:
          $ref: "#/components/schemas/v1ItemFulfillmentModel"
    v1OrderLineReference:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/v1UUID"
        quantity:
          type: integer
          format: int64

    v1OrderRefund:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/v1UUID"
        external_id:
          type: string
        reason:
          type: string
        use_original_method:
          type: boolean
        lines:
          type: array
          items:
            $ref: "#/components/schemas/v1OrderLineReference"
        refund_date:
          type: string
          format: uint64
        amount:
          type: string
        tax:
          type: string
        shipping:
          type: string
    v1OrderShipmentPlan:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/v1UUID"
        external_id:
          type: string
        ship_to:
          $ref: "#/components/schemas/v1OrderAddress"
        lines:
          type: array
          items:
            $ref: "#/components/schemas/v1OrderLineReference"
        selected_option:
          $ref: "#/components/schemas/v1ShippingOption"
        available_options:
          type: array
          items:
            $ref: "#/components/schemas/v1ShippingOption"
        shipments:
          type: array
          items:
            $ref: "#/components/schemas/v1Shipment"
    v1OrderStatus:
      type: string
      enum:
        - ORDER_STATUS_CART
        - ORDER_STATUS_PENDING
        - ORDER_STATUS_HOLD
        - ORDER_STATUS_BOOKED
        - ORDER_STATUS_PENDING_FULFILLMENT
        - ORDER_STATUS_FULFILLED
        - ORDER_STATUS_COMPLETE
        - ORDER_STATUS_CANCELED
        - ORDER_STATUS_DELETED
      title: >-
        Order and Cart share the same data model, this status means that Order
        is in Cart status

        this status will be populated on all Fast Carts
    v1OrderType:
      type: string
      enum:
        - ORDER_TYPE_CART
        - ORDER_TYPE_ORDER
        - ORDER_TYPE_RETURN
        - ORDER_TYPE_EXCHANGE
        - ORDER_TYPE_CREDIT
        - ORDER_TYPE_REFUND
    v1ReadOrderRequestSegment:
      type: object
      properties:
        is_cart:
          type: boolean
          description: Boolean indicating if the order is in cart phase.
        order_id:
          $ref: "#/components/schemas/v1UUID"
          description: Fast's unique ID for the order.
        external_order_id:
          type: string
          description: The seller's order ID.
    v1ReadOrderResponseSegment:
      type: object
      properties:
        order:
          $ref: "#/components/schemas/v1FastOrder"
    v1ReadRequest:
      type: object
      properties:
        app_id:
          type: string
          description: The application ID for your store registered with Fast.
        request_id:
          $ref: "#/components/schemas/v1UUID"
          description: >-
            The idempotency key of request. Ensure that your operations are
            idempotent against this field
        type:
          $ref: "#/components/schemas/v1EntityType"
          example: ENUM
          descrption: The type of entity being read.
        order:
          $ref: "#/components/schemas/v1ReadOrderRequestSegment"
          description: Object containing the order information.
        shipping_zones:
          $ref: "#/components/schemas/v1ReadShippingZonesRequestSegment"
          description: "???"
    v1ReadResponse:
      type: object
      properties:
        request_id:
          $ref: "#/components/schemas/v1UUID"
          description: The idempotency key of request.
        type:
          $ref: "#/components/schemas/v1EntityType"
          description: The type of entity being created.
        order:
          $ref: "#/components/schemas/v1ReadOrderResponseSegment"
          description: Fast order data entity.
          shipping_option:
            $ref: "#/components/schemas/v1ReadShippingOptionResponseSegment"
        user:
          $ref: "#/components/schemas/v1ReadUserResponseSegment"
        shipping_zones:
          $ref: "#/components/schemas/v1ReadShippingZonesResponseSegment"
          description: Shipping zones information.
    v1ReadShippingZonesRequestSegment:
      type: object
    v1ReadShippingZonesResponseSegment:
      type: object
      properties:
        shipping_zones:
          type: array
          items:
            $ref: "#/components/schemas/v1ShippingZone"
          description: Valid Shipping Zones that a seller supports
    v1Shipment:
      type: object
      properties:
        carrier:
          type: string
        tracking_number:
          type: string
        estimated_delivery_date:
          type: string
          format: uint64
        lines:
          type: array
          items:
            $ref: "#/components/schemas/v1OrderLineReference"
    v1ShipmentPlanUpdate:
      type: object
      properties:
        plan_id:
          $ref: "#/components/schemas/v1UUID"
        ship_to:
          $ref: "#/components/schemas/v1OrderAddress"
        line_refs:
          type: array
          items:
            $ref: "#/components/schemas/v1OrderLineReference"
    v1ShippingOption:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/v1UUID"
        external_id:
          type: string
        name:
          type: string
        shipment_type:
          $ref: "#/components/schemas/v1ShippingOptionType"
        cost:
          type: string
        tax:
          type: string
        total:
          type: string
        carrier:
          type: string
        service_level:
          type: string
    v1ShippingOptionType:
      type: string
      enum:
        - SHIPPING_OPTION_TYPE_IN_STORE_PICKUP
        - SHIPPING_OPTION_TYPE_OTHER
    v1ShippingOptionUpdate:
      type: object
      properties:
        plan_id:
          $ref: "#/components/schemas/v1UUID"
        option_id:
          $ref: "#/components/schemas/v1UUID"
        external_option_id:
          type: string
    v1ShippingZone:
      type: object
      properties:
        country_iso2:
          type: string
        subdivision_iso2:
          type: string
    v1UUID:
      type: object
      properties:
        value:
          type: string
          title: UUID value
      title: Typed UUID
      required:
        - value
    v1UpdateOrderRequestSegment:
      type: object
      properties:
        order_id:
          $ref: "#/components/schemas/v1UUID"
        is_cart:
          type: boolean
        convert_mode:
          $ref: "#/components/schemas/v1CartToOrderConvert"
        convert_cart_to_order:
          type: boolean
        status:
          $ref: "#/components/schemas/v1OrderStatus"
        bill_to:
          $ref: "#/components/schemas/v1AddressUpdate"
        items:
          type: array
          items:
            $ref: "#/components/schemas/v1OrderItemUpdate"
        coupon:
          $ref: "#/components/schemas/v1CouponUpdate"
        shipping_option:
          $ref: "#/components/schemas/v1ShippingOptionUpdate"
        shipments:
          type: array
          items:
            $ref: "#/components/schemas/v1ShipmentPlanUpdate"
    v1UpdateOrderResponseSegment:
      type: object
      properties:
        order:
          $ref: "#/components/schemas/v1FastOrder"
        status:
          type: array
          items:
            $ref: "#/components/schemas/v1UpdateOrderSegmentStatus"
    v1UpdateOrderSegmentStatus:
      type: object
      properties:
        updated:
          $ref: "#/components/schemas/v1UpdateOrderSegmentType"
        status:
          type: boolean
        reason_code:
          type: string
        message:
          type: string
    v1UpdateOrderSegmentType:
      type: string
      enum:
        - UPDATE_ORDER_SEGMENT_TYPE_COUPON
        - UPDATE_ORDER_SEGMENT_TYPE_SHIPPING_ADDRESS
        - UPDATE_ORDER_SEGMENT_TYPE_BILLING_ADDRESS
        - UPDATE_ORDER_SEGMENT_TYPE_LINE_ITEM
        - UPDATE_ORDER_SEGMENT_TYPE_SHIPPING_OPTION
        - UPDATE_ORDER_SEGMENT_TYPE_CONVERT_CART_TO_ORDER
        - UPDATE_ORDER_SEGMENT_TYPE_ORDER_STATUS
    v1UpdateRequest:
      type: object
      properties:
        app_id:
          type: string
          description: The application ID for your store registered with Fast.
        request_id:
          $ref: "#/components/schemas/v1UUID"
        type:
          $ref: "#/components/schemas/v1EntityType"
        order:
          $ref: "#/components/schemas/v1UpdateOrderRequestSegment"
    v1UpdateResponse:
      type: object
      properties:
        request_id:
          $ref: "#/components/schemas/v1UUID"
        type:
          $ref: "#/components/schemas/v1EntityType"
        order:
          $ref: "#/components/schemas/v1UpdateOrderResponseSegment"
    v1ReadUserRequestSegment:
      type: object
      properties:
        email:
          type: string
          description: Email of the user being requested.
        external_user_id:
          type: string
          description: External ID of the user being requested. Cast to a string if integer value.
    v1ReadUserResponseSegment:
      type: object
      properties:
        user:
          $ref: "#/components/schemas/v1FastIntegrationUser"
  examples:
    ReadResponse_Order_Cart:
      value:
        type: ENTITY_TYPE_ORDER
        order:
          order:
            external_id: 585
            order_type: ORDER_TYPE_ORDER
            currency_code: USD
            bill_to:
              first_name: Solutions
              last_name: Team
              email: solutions@fast.co
              phone: +18005551212
              address_1: 100 Park Avenue
              city_locality: New York
              state_province: New York
              state_province_code: NY
              country: US
              postal_code: 10017
            lines:
              - external_product_id: 1556
                external_variant_id: 6418
                quantity: 1
                quantity_fulfilled: 0
                unit_price: 22
                discounted_unit_price: 0
                line_discount_amount: 0
                subtotal_amount: 22
                tax_amount: 0
                total_amount: 22
                discounts: [applied: false]
                name: Radiant Tee
                fulfillment_mode: ITEM_FULFILLMENT_MODEL_PHYSICAL
              - external_product_id: 1542,
                external_variant_id: 6419,
                quantity: 1,
                quantity_fulfilled: 0,
                unit_price: 0,
                discounted_unit_price: 0,
                line_discount_amount: 0,
                subtotal_amount: 0,
                tax_amount: 0,
                total_amount: 0,
                discounts:
                  - applied: false
                name: Radiant Tee-XS-Orange,
                fulfillment_mode: ITEM_FULFILLMENT_MODEL_PHYSICAL
              - external_product_id: 1556,
                external_variant_id: 6420,
                quantity: 1,
                quantity_fulfilled: 0,
                unit_price: 22,
                discounted_unit_price: 0,
                line_discount_amount: 0,
                subtotal_amount: 22,
                tax_amount: 0,
                total_amount: 22,
                discounts:
                  - applied: false
                name: Radiant Tee,
                fulfillment_mode: ITEM_FULFILLMENT_MODEL_PHYSICAL
              - external_product_id: 1548,
                external_variant_id: 6421,
                quantity: 1,
                quantity_fulfilled: 0,
                unit_price: 0,
                discounted_unit_price: 0,
                line_discount_amount: 0,
                subtotal_amount: 0,
                tax_amount: 0,
                total_amount: 0,
                discounts:
                  - applied: false
                name: Radiant Tee-M-Orange
                fulfillment_mode: ITEM_FULFILLMENT_MODEL_PHYSICAL
            shipment_plans:
              - ship_to:
                  first_name: Solutions
                  last_name: Team
                  email: solutions@fast.co
                  phone: +18005551212
                  address_1: 100 Park Avenue
                  city_locality: New York
                  state_province: New York
                  state_province_code: NY
                  country: US
                  postal_code: 10017
                lines:
                  - quantity: 1
                    external_id: 998
                  - quantity: 1
                    external_id: 999
                  - quantity: 1
                    external_id: 1000
                  - quantity: 1
                    external_id: 1001
                selected_option:
                  external_id: flatrate_flatrate
                  name: Flat Rate - Fixed
                  cost: 10
                  tax: 0
                  total: 10
                available_options:
            total_amount: 54
            sub_total: 44
            total_discounts: 0
            total_tax: 0
            total_shipping: 10
            short_order_id: 585
        user:
          user:
            email: solutions@fast.co
            first_name: Solutions
            last_name: Team
            phone: +18005551212
