/* All the things */
* {
  outline-color: #000;
}

/* All list items  */
li {
  margin: 16px 0;
}

#home-page-features img {
  width: 176px !important;
}

/* Navigation list items  */
nav li {
  margin: 0;
}

/* Right Side bar section headers */
ul > div > span {
  font-weight: 600;
}

/* Right Side bar TOP section header */
ul > a > div > span {
  font-weight: 600;
  font-size: 30px;
}

/* Right Side bar nested content */
ul > ul > a > div > span {
  font-weight: 400;
  font-size: 16px;
}

/* FIX: top nav content right before mobile breakpoint wrapped wonky */
nav > ul {
  display: flex;
  align-items: center;
}
